<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>

  <filter>
    <whitelist>
      <directory>src/GeoIP</directory>
    </whitelist>
  </filter>

   <testsuites>
      <testsuite name="GeoIP Wrapper Test Suite">
         <directory>tests</directory>
      </testsuite>
   </testsuites>
</phpunit>